.topCarouselDataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB81D;
    text-transform: uppercase;
    cursor: grab;
}

.topCarouselDataText {
    color: black;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

@media (max-width:900px) {
    .topCarouselDataText {
        height: 7vh;
        text-align: center;
    }
}