.home {
    height: 200vh;
}

.homecontainer {
    /* height: 200vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-block: 3rem;
}

.homeAnnotionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.homeAnnotionBox {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}