.footerContainer {
    background-color: #191934;
    color: white;
    padding-block: 4rem 2rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
}

.footerBox1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: start; */
    gap: 2rem;
}

.footerBox1Section {
    width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footerBox1SectionHeading {
    font-size: 1.5rem;
    color: #FFB823;

    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.712);
    width: fit-content;
}

.footerBox1SectionText {
    font-size: 0.8rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.footerBox1SectionItems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}

.footerBox1SectionItem {
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.footerBox1SectionItem:hover {
    color: #FFAE2A;
    text-decoration: underline;
    text-decoration-color: #FFAE2A;
}

.footerBox2 {
    content: "";
    width: 100%;
    height: 1px;
    background-color: gray;
    /* background-color: rgba(255, 255, 255, 0.712); */
}

.footerBox3 {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 1rem;
    margin: 0 auto;
}

.footerBox3Socials {
    display: flex;
    gap: 1rem;
}

.footerSocial {
    font-size: 1.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.footerSocial:hover {
    color: rgb(255, 246, 115);
}

.footerBox1SectionNewsLetterBox {
    display: flex;
}

.footerBox1SectionItemButton {
    background-color: #272E90;
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    transition: all 0.5s ease;
}

.footerBox1SectionItemButton:hover {
    background-color: #525bdd;

}

.footerBox1SectionItemInput {
    outline: none;
    border: 1px solid rgb(172, 172, 172);
}

.footerBox1SectionItemInput:focus {
    border: 1px solid aqua;

}

@media(max-width:600px) {
    .footerBox1 {
        justify-content: start;
        margin-inline: 2rem;
        gap: 3rem;
    }

    .footerBox3 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footerBox3Text {
        text-align: center;
        font-size: 0.8rem;
    }
}